In [215]:
# import useful libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [216]:
# read csv file
df = pd.read_csv('Students.csv')

In [217]:
#remove columns not needed for analysis
df = df[[ 'Gender', 'Age', 'Attendance', 'TestScore']]

In [218]:
#  convert required columns to preferred data types
df['TestScore'] = df['TestScore'].astype(int)

# change the 'male' and 'female' values to 0's and 1's
df['Gender'] = df['Gender'].replace({ 'male': 0, 'female': 1 })

df

      Gender  Age  Attendance  TestScore
0          0   58        0.81         64
1          0   54        0.55         35
2          0   50        0.62         60
3          0   34        0.84         69
4          0   58        0.59         36
...      ...  ...         ...        ...
9875       0   55        0.59         43
9876       0   70        0.47         26
9877       1   48        0.83         65
9878       0   52        0.81         59
9879       0   34        0.56         50

[9880 rows x 4 columns]

In [222]:
# Binning the data
bin = [0, 56, 72, 100]
df['TestScoreRange'] = pd.cut(df['TestScore'] , bin, right=True)
df

      Gender  Age  Attendance  TestScore TestScoreRange
0          0   58        0.81         64       (56, 72]
1          0   54        0.55         35        (0, 56]
2          0   50        0.62         60       (56, 72]
3          0   34        0.84         69       (56, 72]
4          0   58        0.59         36        (0, 56]
...      ...  ...         ...        ...            ...
9875       0   55        0.59         43        (0, 56]
9876       0   70        0.47         26        (0, 56]
9877       1   48        0.83         65       (56, 72]
9878       0   52        0.81         59       (56, 72]
9879       0   34        0.56         50        (0, 56]

[9880 rows x 5 columns]

In [ ]:
# create train and test data

x = df.drop( ['TestScore', 'TestScoreRange'] , axis = 1)
y = df['TestScoreRange']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)