In [242]:
# import useful libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [243]:
# read csv file
df = pd.read_csv('Students.csv')

In [244]:
#remove columns not needed for analysis
df = df[[ 'Gender', 'Age', 'Attendance', 'TestScore']]

In [245]:
#  convert required columns to preferred data types
df['TestScore'] = df['TestScore'].astype(int)

# change the 'male' and 'female' values to 0's and 1's
df['Gender'] = df['Gender'].replace({ 'male': 0, 'female': 1 })

df

      Gender  Age  Attendance  TestScore
0          0   58        0.81         64
1          0   54        0.55         35
2          0   50        0.62         60
3          0   34        0.84         69
4          0   58        0.59         36
...      ...  ...         ...        ...
9875       0   55        0.59         43
9876       0   70        0.47         26
9877       1   48        0.83         65
9878       0   52        0.81         59
9879       0   34        0.56         50

[9880 rows x 4 columns]

In [246]:
# create train and test data
x = df.drop('TestScore', axis = 1)
y = df['TestScore']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [247]:
# Testing with a decision-tree-classifier-model

dt_class = DecisionTreeClassifier()
dt_class.fit(x_train, y_train)
y_pred = dt_class.predict(x_test)
dt_result = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
dt_result

      Actual  Predicted
7799      91         70
6844      59         35
3473      57         61
8405      83         69
2803      68         55
...      ...        ...
4498      35         24
6262      60         46
9730      56         85
8865      76         89
2902      45         35

[2964 rows x 2 columns]

In [248]:
# Testing with a logistic-regression-model

lr_model = LogisticRegression()
lr_model.fit(x_train, y_train)
y_prediction = lr_model.predict(x_test)
lr_result = pd.DataFrame({'Actual': y_test, 'Predicted': y_prediction })
lr_result

/home/qalac/Documents/Projects/Abuad/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

      Actual  Predicted
7799      91         63
6844      59         63
3473      57         67
8405      83         67
2803      68         67
...      ...        ...
4498      35         52
6262      60         57
9730      56         66
8865      76         77
2902      45         57

[2964 rows x 2 columns]